<div class="col d-flex justify-content-center">
    <div class="row ">
        <div class="card  m-3 p-3">
            <div class="ui statistic">
                <div class="label d-flex justify-content-center">
                Total Confirmed
                </div>
                <div class="value d-flex justify-content-center">
                {{Confirmed}}
                </div>
            </div>
        </div>
        <div class="card  m-3 p-3">
            <div class="ui statistic">
                <div class="label d-flex justify-content-center">
                Total Active
                </div>
                <div class="value d-flex justify-content-center">
                {{Active}}
                </div>
            </div>
        </div>
        <div class="card m-3 p-3">
            <div class="ui statistic">
                <div class="label d-flex justify-content-center">
                Total Recovered
                </div>
                <div class="value d-flex justify-content-center">
                {{Recovered}}
                </div>
            </div>
        </div>
        <div class="card m-3 p-3">
            <div class="ui statistic">
                <div class="label d-flex justify-content-center">
                Total Deaths
                </div>
                <div class="value d-flex justify-content-center">
                {{Death}}
                </div>
            </div>
        </div>
    </div>
</div>
