.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(32, 116, 6, 0.2);
    color: rgb(2, 4, 12);
    transition: 0.3s;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:18pt;
    // width:200px;
 }
