

<div class="jumbotron text-center ">
    <app-dashboard-cards [Confirmed]='totalConfirmed' [Active]='totalActive' [Death]='totalDeath' 
      [Recovered]='totalRecovered'></app-dashboard-cards>
  </div>
    
 
  
  
  <div class="ui form d-flex justify-content-center" >
    <div class="form-check form-check-inline">
      <label for="fruit">Select case type:  </label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="c" #c (click)='updateChart(c)' value="c" name="caseType"  checked="" tabindex="0" class="hidden" >
          <label for="c">Confirmed</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id='a' #a (click)='updateChart(a)' value="a" name="caseType" tabindex="0" class="hidden" >
          <label for='a'>Active</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="r" value='r' #r (click)='updateChart(r)' name="caseType" tabindex="0" class="hidden">
          <label for='r'>Recovered</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="d" value="d" #d (click)='updateChart(d)' name="caseType" tabindex="0" class="hidden">
          <label for="d">Death</label>
        </div>
      </div>
    </div>
  </div>
  
  
  
    <div class="row " >
      <div class="col d-flex justify-content-center">
        <google-chart #mychart1 [data]="pieChart"></google-chart>
      </div> -->
      <div class="col d-flex justify-content-center">
          <google-chart #mychart2 [data]="ColumnChart"></google-chart>
      </div>
    </div>
  
  
   
  
  
  
  